<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zgy.graduation.graduationproject">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <application
        android:name=".SystemApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_graduation"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".activity.StartActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name" >
        </activity>

        <activity android:name=".activity.HomeActivity"
            android:label="@string/home_activity"
            />

        <activity android:name=".activity.IntroAction"
            android:label="@string/intro_infor"
            />


        <activity android:name=".activity.StorehouseActivity"
        android:label="@string/storehouse_info"
        />

        <activity android:name=".activity.findPestKindActivity"
            android:label="@string/find_pest_kind"
            />

        <activity android:name=".activity.AddStorehouseActivity"
            android:label="@string/add_Storehouse"
            />

        <activity android:name=".activity.ChangeStoreHouse"
            android:label="@string/changeStoreHouse"
            />

        <activity android:name=".activity.getInfoFromTestActivity"
            android:label="@string/getStorehouseInfo"
            />

        <activity android:name=".activity.TestHistoryActivity"
            android:label="@string/getTestInfoHistory"
            />

        <activity android:name=".activity.Storehouse_goodsInfoActivity"
            android:label="@string/storehouse_goodInfo"
            />
        <activity
            android:name="com.zgy.graduation.graduationproject.wxapi.WXEntryActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>
